.contacts {
  flex: 0 0 auto;
}

.contacts__wrapper {
  @include container;
  max-width: 1017px;
  padding-top: 154px;
  padding-bottom: 92px;
}

.contacts h2 {
  padding-right: 10px;
  margin: 0 0 30px;
}

.contacts p {
  max-width: 555px;
  padding-right: 15px;
  margin: 30px auto 41px;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.contacts__map {
  height: 530px;
  margin-bottom: 33px;
  background-color: #e6e6e6;
  background-image: url("../img/map@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .contacts__map {
    background-image: url("../img/map@2x.png");
  }
}

.contacts__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 17px;
}

.contacts__item {
  margin-right: 90px;

  &:last-child {
    margin-right: 0;
  }
}

.contacts__item a {
  line-height: 32px;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.2s;

  &::before {
    content: "";
    display: inline-block;
    margin-right: 15px;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}

.contacts__item--email a {
  &::before {
    width: 26px;
    height: 20px;
    background-image: url("../img/mail-icon.svg");
  }
}

.contacts__item--phone a {
  &::before {
    width: 22px;
    height: 24px;
    background-image: url("../img/phone-icon.svg");
  }
}

@media (max-width: 1023px) {
  .contacts__wrapper {
    padding-top: 70px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 52px;
  }

  .contacts h2 {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .contacts p {
    padding-right: 2px;
    max-width: 100%;
    margin: 20px 0;
  }

  .contacts__list {
    padding-right: 12px;
  }

  .contacts__map {
    height: 545px;
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .contacts__wrapper {
    padding-top: 72px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .contacts h2 {
    font-size: 18px;
  }

  .contacts p {
    padding: 0 10px;
    margin-bottom: 19px;
  }

  .contacts__map {
    height: 250px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 26px;
  }

  .contacts__list {
    padding-right: 0;
  }

  .contacts__item {
    flex-grow: 0.5;
    padding: 0 10px;

    &--email {
      padding-left: 15px;
      padding-right: 7px;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 15px;
    }

    &--phone {
      padding-right: 22px;
      text-align: center;
    }
  }
}
