.section-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1f1f1f;
  text-align: center;
}

@media (max-width: 1023px) {
  .section-title {
    font-size: 24px;
  }
}
