.video {
  margin-bottom: 98px;
  background: #131314;
}

.video__wrapper {
  @include container;
  position: relative;
  max-width: 989px;
  padding-top: 120px;
}

.video h2 {
  margin: 0 0 20px;
  color: #ffffff;
}

.video p {
  max-width: 340px;
  margin: 20px auto 56px;
  font-weight: 300;
  letter-spacing: -0.005em;
  color: #ffffff;
  text-align: center;
  opacity: 0.7;
}

.video__block {
  position: relative;
  width: 100%;
  margin-top: -98px;
  padding-top: 56.19%;
  transform: translateY(98px);
}

.video__preview {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video__play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  font-size: 0;
  border-radius: 50%;
  border: 0;
  background: #0ad9c6 url("../img/play-icon.svg");
  background-repeat: no-repeat;
  background-position: left 28px center;
  background-size: 14px 19px;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: translate(-50%, -50%) scale(0.95);
  }
}

.video__file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 1023px) {
  .video {
    margin-bottom: 85px;
  }

  .video__wrapper {
    padding-top: 70px;
    padding-left: 132px;
    padding-right: 132px;
  }

  .video p {
    max-width: 430px;
    margin-bottom: 40px;
  }

  .video__block {
    margin-top: -85px;
    transform: translateY(85px);
  }

  .video__play-btn {
    width: 90px;
    height: 90px;
    background-size: 19px 26px;
    background-position: left 39px center;
  }
}

@media (max-width: 767px) {
  .video {
    margin-bottom: 47px;
  }

  .video__wrapper {
    padding-top: 84px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .video p {
    margin-bottom: 50px;
  }

  .video__block {
    margin-top: -47px;
    transform: translateY(47px);
  }

  .video__play-btn {
    width: 65px;
    height: 65px;
    background-position: left 28px center;
    background-size: 14px 19px;
  }
}
